@import url('./pages/styles/header.css');
@import url('./pages/styles/home.css');
@import url('./pages/styles/sidebar.css');
@import url('./components/styles/cart.css');

body {
    color: white;
    background-color: #f1f3f642;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.main-section {
    display: flex;
}