@import url('./pages/styles/header.css');
@import url('./pages/styles/home.css');
@import url('./pages/styles/sidebar.css');
@import url('./pages/styles/listing.css');
@import url('./components/styles/cart.css');
@import url('./components/styles/wishlist.css');


body {
  color: white;
  background-color: #f1f3f642;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

#header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-section {
  display: flex;
}

.alert {
  height: auto;
  width: 30rem;
  z-index: 1;
  background-color: darkseagreen;
  margin: 1rem;
  border-radius: 3px;
  text-align: center;
  padding: 0.5rem;
  position: relative;
}

.alert span {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.alert span:hover {
  cursor: pointer;
}

.alert-box {
  position: fixed;
  top: 0rem;
  display: none;
  z-index: 2;
}
