.row {
  background-image: linear-gradient(150deg, #0652c5, #d4418e);
  background-image: linear-gradient(-90deg, #A3278F 0%, #E52F50 100%);
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  justify-content: end;
  flex-wrap: wrap;
}

.search-bar {
  background-color: white;
  color: black;
  position: relative;
}

.search-bar input{
  height: 2rem;
  width: 20rem;
  padding: 0 0.5rem;
  border: 0;
}

.search-bar input:focus {
  outline: none;
}

.search-bar span i {
  margin: 0 1rem;
  cursor: pointer;
}

#search-bar-append {
  position: absolute;
  background-color: white;
  color: black;
  height: auto;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
  border: 1.4px solid #c2c2c2;
  width: 23.3rem;
  z-index: 1;
  display: none;
}

#search-bar-append p {
  margin: 0;
  padding: 0;
}

#search-bar-append p a {
  text-decoration: none;
  cursor: pointer;
}

.login {
  color: rebeccapurple;
  height: 2rem;
  width: 10rem;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.wishlist, .cart {
  position: relative;
}

.wishlist i, .cart i {
  font-size: 2rem;
}

.badge {
  position: absolute;
  padding: 0rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: black;
  font-size: 12px;
  aspect-ratio: 1/1;
  text-align: center;
}

.wishlist .badge {
  top: 0;
  left: 1.5rem;
}

.cart .badge {
  top: -0.3rem;
  left: 1.7rem;
}

.logo {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.row .col button a {
  text-decoration: none;
}
