.products {
  margin: 0.5rem;
}

.child-card {
  height: auto;
  color: black;
}

.child-card div {
  padding: 1rem;
}

.child-card div section {
  display: flex;
  gap: 1rem;
}

.child-card div section p {
  display: inline-flex;
}

.child-card div section .strike {
  text-decoration: line-through;
  color: grey;
}

.child-card .brand-name {
  color: grey;
}

.child-card .card-data {
  display: flex;
}

#product-listing .child-card i.add-to-wishlist {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 25px;
  text-decoration: none;
  color: azure;
}

#product-listing .child-card i.add-to-wishlist:hover {
  cursor: pointer;
}

#product-listing .child-card i.add-to-wishlist:active {
  color: red;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.add-to-cart {
  font-size: 30px;
  padding: 0 2rem !important;
  color: darkgrey;
}

.add-to-cart:hover {
  cursor: pointer;
}