<div>
  <div class="sign-up">
    <section class="sign-up-img">
      Welcome back!
    </section>
    <section class="sign-up-form">
      <form>
        <div class="form-input">
          <input type="text" name="email" placeholder="" id="email" autocomplete="off" />
          <label class="">
            Enter Email
          </label>
        </div>
        <div class="form-input">
          <input type="password" name="email" placeholder="" id="email" />
          <label class="">
            Password
          </label>
        </div>
        <span class="forgot-pwd">Forgot?</span>

        <div class="form-button">
          <button id="login">Login</button>
        </div>
        <div class="form-input">
          <p class="footer">New to Moon? <a href="./sign_up.html"> Create an account</a></p>
        </div>
      </form>
    </section>
  </div>
  <script src="../index.js"></script>
</div>
