<div>
  <div class="sign-up">
    <section class="sign-up-img">
      Welcome to the site!
      <!-- <img src="http://www.downloadclipart.net/large/makeup-png-transparent-image.png" /> -->
    </section>
    <section class="sign-up-form">
      <form>
        <div class="form-input">
          <input type="text" name="email" placeholder="" id="email" autocomplete="off" />
          <label class="">
            Enter Email
          </label>
        </div>
        <div class="form-input">
          <input type="password" name="email" placeholder="" id="email" />
          <label class="">
            Password
          </label>
        </div>
        <div class="form-input">
          <input type="password" name="email" placeholder="" id="email" />
          <label class="">
            Confirm Password
          </label>
        </div>

        <div class="form-button">
          <button id="sign-up">Sign Up</button>
        </div>
        <div class="form-input">
          <p class="footer"><a href="#">New to Moon? Create an account</a></p>
        </div>
      </form>
    </section>
  </div>
  <script src="../index.js"></script>
</div>
